#tab4 .donacion-title{
    background-color: #2C8C2C;
    padding: 10px 0px;
    padding-left: 96px;
    color: #fff;
    font-family: 'Roboto', Helvetica, sans-serif;
}
#tab4 .donacion-title h2{
    opacity: 0.8;
    font-size: 32px;
    font-weight: 300;
}
#tab4 .donacion-title h4{
    font-size: 64px;
    font-weight: bold;
}
#tab4 .p-versiculo p{
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    padding: 40px 100px 40px 100px;
    font-family: 'Roboto', Helvetica, sans-serif;
}
/* slider donaciones */
.container-slider-donacion{
    width: 100%;
    justify-content: center;
    margin-bottom: 40px;
}
.slider-donacion{
    width: 800px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
}
.slides-donacion{
    width: 500%;
    height: 500px;
    display: flex;
}
.slides-donacion input{
    display: none;
}
.slide-hermana-donacion{
    width: 20%;
    transition: 2s;
}
.slide-hermana-donacion img{
    width: 800px;
    height: 600px;
    object-fit: cover;
}
/* slide navigation manual */
.navigation-manual{
    position:absolute;
    width: 800px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #2C8C2C;
    padding:5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){   
    margin-right: 10%;
}
.manual-btn:hover{
    background-color: #2C8C2C;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
/* css automatic navigation */
.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    margin-top: 560px;
    justify-content: center;
}
.navigation-auto div{
    border: 2px solid #2C8C2C;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 80px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #2C8C2C;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #2C8C2C;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #2C8C2C;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #2C8C2C;
}
.text-slide{
    background-color: #2c8c2c6d;
    color: #fff;
    padding-top: 0;
}
.text-slide p{
    font-size: 24px;
    font-weight: 700;
    font-family: "Roboto", Helvetica, sans-serif;
}
@media screen and (max-width:900px) {
.slider-donacion{
        max-width: 500px;
        height: 300px;
        border-radius: 10px;
        overflow: hidden;
    }
.slide-hermana-donacion img{
        max-width: 500px;
        height: 300px;
        object-fit: fill;
    }
/* slide navigation manual */
.navigation-manual{
    width: 500px;
    margin-top: -234px;
}
.navigation-auto {
    width: 500px;
    margin-top: 266px;
}
.navigation-auto div:not(:last-child){
    margin-right: 50px;
}
}
@media screen and (max-width:530px) {
    .slider-donacion{
            max-width: 300px;
            height: 400px;
            border-radius: 10px;
        }
    .slide-hermana-donacion img{
            max-width: 300px;
            height: 400px;
            object-fit:fill;
        }
    /* slide navigation manual */
    .navigation-manual{
        width: 300px;
        margin-top: -140px;
    }
    .navigation-auto {
        width: 300px;
        margin-top: 360px;
    }
    .navigation-auto div:not(:last-child){
        margin-right: 30px;
    }
    }
    @media screen and (max-width:310px) {
        .slider-donacion{
                max-width: 250px;
                height: 300px;
                border-radius: 10px;
            }
        .slide-hermana-donacion img{
                max-width: 250px;
                height: 300px;
                object-fit:fill;
            }
        /* slide navigation manual */
        .navigation-manual{
            width: 250px;
            margin-top: -229px;
        }
        .navigation-auto {
            width: 250px;
            margin-top: 271px;
        }
        .navigation-auto div:not(:last-child){
            margin-right: 25px;
        }
        }
        /* ESTILOS OBJETIVO */
        .objetivo{
            background-color: #C0DDC0;
            padding: 80px 150px;
        }
        .objetivo h3{
            color: #2C8C2C;
            font-family: "Roboto", Helvetica, sans-serif;
            font-size: 36px;
        }
        .objetivo p{
            color: #000000;
            text-align: justify;
            font-family: "Roboto", Helvetica, sans-serif;
            font-size: 20px;
        }
        /* apoyo de proyectos */
        .apoyo-proyecto{
            width: 100%;
            margin-top: 50px;
            margin-bottom: 50px;
            text-align: center;
            font-family: "Roboto", Helvetica, sans-serif;
        }
        .apoyo-proyecto .h3apoyo{
            margin-bottom: 40px;
            color: #2C8C2C;
            font-size: 36px;
        }
        .apoyo-proyecto .apoya-proyectos li{
            font-size: 25px;
            color: #000000ae;
            list-style: decimal;
        }
        .apoyo-proyecto .apoya-proyectos{
            display: inline-table;
            text-align: justify;
        }
        /* recuerda el apoyo */
        .recuerda{
            width: 100%;
            padding: 20px 90px;
            background-color: #2C8C2C80;
            font-family: "Roboto", Helvetica, sans-serif;
        }
        .recuerda h3{
            margin-top: 40px;
            margin-bottom: 30px;
            font-size: 36px;
            color: #2C8C2C;
        }
        .recuerda .text-recuerda .icon-recuerda img{
            width: 100px;
            height: 100px;
            transform: scaleX(-1);
        }
        .recuerda .text-recuerda{
            display: flex;
        }
.recuerda .text-recuerda .parrafo-recuerda p{
    font-size: 25px;
    padding-right: 220px;
    padding-left: 30px;
    text-align: justify;
}
/* media query responsive */
@media screen and (max-width:900px) {
#tab4 .donacion-title h2{
    font-size: 22px;
}
#tab4 .donacion-title h4{
    font-size: 50px;
}
#tab4 .donacion-title{
    padding-left: 46px;
} 
/* recuerda */
.recuerda .text-recuerda .parrafo-recuerda p{
    font-size: 25px;
    padding-right: 20px;
    padding-left: 30px;
    text-align: justify;
}
/* puedes apoyar un proyecto especifico */
.apoyo-proyecto {
    padding-left: 20px;
    padding-right: 20px;
}
}
@media screen and (max-width:768px) {
#tab4 .donacion-title h4{
    font-size: 38px;
    }
.recuerda h3{
    text-align: center;
}
.objetivo {
    background-color: #C0DDC0;
    padding: 90px 50px;
}
#tab4 .p-versiculo p {
    padding-left: 30px;
    padding-right: 30px;
}
}
@media screen and (max-width:639px) {
    .recuerda{
        padding: 20px 40px 20px 10px;
    }
}
@media screen and (max-width:500px) {
    .recuerda .text-recuerda{
        display: inline-block;
    }
    .recuerda .text-recuerda .parrafo-recuerda p{
        word-break: break-all;
    }
}
@media screen and (max-width:300px) {
    #tab4 .donacion-title h4 {
        font-size: 30px;
    }
}