#tab5{
    background-image: url("/assets/img/background-hermanas-contacto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.container-form{
    display: flex;
    width: 100%;
    margin-top: 100px;
    padding: 0 100px;
    justify-content: center;
}  
.ubicacion-map{
    width: 100%;
    text-align: center;
    z-index: -1;
}    
.ubicacion-map iframe{
    border-radius: 30px;
    width: 900px;
    height: 450px;
    max-height: 600px;
    box-shadow:0 0 40px -10px #000;
    margin-bottom: 100px;
}
.form-hermanas{
    width:400px;
    height:630px;
    background:#fff;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    margin-right: 0;
    margin-bottom: 50px;
    padding:
    20px 30px;max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Roboto',Helvetica sans-serif;
    position:relative;
}
.title-form h3{
    font-size: 60px;
    margin-top: 140px;
    padding-top: 53px;
    padding-bottom: 53px;
    background-color: #0F85B5;
    color: #fff;
    text-shadow: 1px 1px 4px #000;
    text-align: center;
    text-transform: uppercase;
}
.title-contactenos{
    content:'Hi';
    position: absolute;
    background-color: #0F85B5FA;
    top: -70px;
    left: 13%;
    padding: 40px 0px;
    width: 70%;
    text-align: center;
    border-radius: 20px;
}
.title-contactenos div{
    font-size:13px;
    color: #fff;
    word-break: break-all;
}
.form-span{
    margin:0 5px 0 0px;
    position: relative;
    font-size: 10px;
}
.title-contactenos h2{
    margin-top: 25px;
    color:#fff;
}
.input-contenido{
    padding-top: 100px;
}
.input-hermana{
    position: relative;
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;border-bottom:2px solid #25A6DB;    
}
.input-hermana::placeholder{
    color: rgba(0, 0, 0, 0.427);
    font-family: "Roboto", Helvetica, sans-serif;
}
.input-hermana:focus::placeholder{
    color: rgba(0, 0, 0, 0.103);
}
.input-hermana:focus{
    border-bottom:2px solid #000;
}
.p-form-hermana:before{
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:#000;
    position: relative;
}
.btn-form-send{
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    border-radius: 8px;
    border:2px solid #25A6DB;
    box-shadow: 0px 4px 7px 2px #25A6DB;
    background:0;
    color:#25A6DB;
    cursor:pointer;
    transition:all .3s
}
.btn-form-send:hover{
    background:#000;
    color:#fff
}
/* =========================================================== 
                Clases de sweetAlert css
   ============================================================*/
   .color-alert-footer{
    color: #2C8C2C;
   }
   /* =========================================================== 
                Media query responsive
   ============================================================*/
@media screen and (max-width:900px) {
    .ubicacion-map iframe{
        width: 600px;
        height: 400px;
    }
    .title-form h3 {
        font-size: 40px;
        margin-top: 140px;
        padding-top: 33px;
        padding-bottom: 33px;
    }
}
@media screen and (max-width:768px) {
    .ubicacion-map {
        width: 90%;
        margin-left: 5%;
    }
    .ubicacion-map iframe{
        width: 100%;
        height: 300px;
    }
    .form-hermanas {
        margin-bottom: 100px;
    }
}
@media screen and (max-width:540px) {
    .title-form h3 {
        font-size: 30px;
        margin-top: 140px;
        padding-top: 23px;
        padding-bottom: 23px;
    }
    .container-form{
        padding: 0 50px;
    }
    .form-hermanas {
        width: 100%;
    }
    .title-contactenos h2 {
        width: 100%;
    }
}
@media screen and (max-width:400px) {
    .form-span{
        margin:0 5px 0 1px
    }
}
