*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Helvetica, sans-serif;
    /* border: 1px solid red; */
}
#form-donacion #corazon-voluntario{
    width: 100%;
    height: 1000%;
    background-image: linear-gradient(#00000062, #00000062), url(/assets/img/un-corazon-voluntario.jpeg);
    background-repeat: no-repeat;
    background-position:center center;
    background-size:cover;
}
#corazon-voluntario > .logo-form-corazon{
    padding-top: 15px;
    width: 100%;
    text-align: center;
}
#corazon-voluntario > .logo-form-corazon picture img{
    width: 200px;
    height: 200px;
    transition: .3s;
}
#corazon-voluntario > .logo-form-corazon picture img:hover{
    transform: scale(1.05);
    transition: .3s;
    -webkit-filter: drop-shadow(5px 5px 5px #22222288);
    filter: drop-shadow(0px 0px 25px #22222288);
}
.title-corazon h1{
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px 4px #000;
    color: #fff;
    font-size: 50px;
}
.objetivo{
    width: 100%;
    margin-top: 30px;
    color: #fff;
    align-content: center;
    text-shadow: 1px 1px 20px #000;
}
.objetivo .text{
    width: 70%;
    margin-left: 15%;
}
.objetivo .text h2{
    font-size:40px;
    text-transform:capitalize;
}
.objetivo .text p{
    text-align: justify;
    font-size:23px;
}
/* lista de las donaciones */
.objetivo .que-donar{
    width: 100%;
}
.objetivo .que-donar .title-que{
    width: 100%;
    margin-top: 3rem;
    text-align: center;
}
.objetivo .que-donar .title-que h2{
    font-size: 40px;
}
.objetivo .que-donar .title-que .list-que{
    width: 100%;
    justify-content: space-between;
    padding: 20px 80px;
    font-size: 25px;
    list-style: none;
    display: flex;
}
.objetivo .que-donar .title-que .list-que .img-lista-donar{
    padding-right: 15px;
}  
.objetivo .que-donar .title-que .list-que div img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    padding: 5px;
    /* background:linear-gradient(to right top, #05193799, #004d7a99, #00879399, #00bf7299, #a8eb1299); */
    background: linear-gradient(90deg, rgba(44,140,44,1) 35%, rgba(0,191,255,1) 100%);
    box-shadow: rgb(38 57 77) 0px 20px 30px -10px;
    transition: .3s;
}
.objetivo .que-donar .title-que .list-que div img:hover{
    transform: scale(1.07);
    transition: .3s;
}
/* #################################################################################################################
############## formulario estilos ################################################################################## */
div.container-form{
    width: 100%;
    text-align: center;
    margin-top: 100px;
    padding-bottom: 100px;
}
#form .nombre-completo{
    display: flex;
    justify-content: center;
}
#form{
    background-color: #A5C9CA;
    padding: 30px;
    border-radius: 20px;
    width: 50%;
    margin-left: 25%;
    font-family: 'Roboto', Helvetica, sans-serif;
}
#form .container-datos .form-data{
    margin-top: 20px;
}
#form label{
    color: #000;
    opacity: .7;
    font-size: 20px;
}
#form .form-data{
    background-color: transparent;
    color: #293462;
    border: solid 2px #000;
    border-radius: 10px;
    padding-left: 20px;
    width: 100%;
    height: 60px;
    font-size: 20px;
}
#form .form-data::placeholder{
    opacity: .7;
    font-size: 17px;
}
#form .form-data:focus{
    border: none;
    color: #fff;
    font-size: 25px;
    background: #0f86b597;
    outline: 3px solid #0F85B5;
}
#form .form-data:focus::placeholder{
    color: #fff;
}
#form .form-data:focus:not(focus-visible){
    outline: none;
}
/* estilos input de tipo submit */
#form #button{
    position: relative;
    padding: 15px 25px;
    border:none;
    border-radius:15px;
    z-index: 1;
    font-size: 17px;
    font-weight: 1000;
    background:#e8e8e8;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
}
#form #button:hover {
    transform:translateY(-10px);
    background: #000000;
    box-shadow: 0px 8px 0px 0px rgb(0 0 0 / 27%);
    color: #fff;
    transition: .3s;
   }
   
#form #button:hover::before {
    width: 100%;
   }
#form .nombre-completo .nombre{
    padding-right: 60px;
}
/* display de los checkbox */
#form .nombre-completo .name-last{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr);
}
#form .datos-form{
    margin-top: 100px;
}
/* input de otro... */
#form .donar-proyecto .description{
    margin-top: 30px;
    color: #000000d9;
    opacity: .7;
    font-size: 25px;
}
#form .donar-proyecto .otro{
    width: 70%;
    margin-left: 10%;
    display:flex;
    margin-top: 10px;
    margin-bottom: 50px;
}
#form .donar-proyecto .otro input::placeholder{
    font-size: 15px;
    padding-right: 15px;
}
#form .donar-proyecto .otro .label-otro{
    margin-top: 35px;
    padding-right: 10px;
}
/* boton submit */
#form .container-datos .enviar{
    width: 100%;
    text-align: end;
}
#form .container-datos .enviar .form-data{
    width: 170px;
    height: 40px;
    padding-left: 0;
}
#form .donar-proyecto .container-chekbox{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: max-content;
}
#form .donar-proyecto .container-chekbox .checkbox-lista{
    padding-bottom: 15px;
}
#form .donar-proyecto .checkbox-lista .form-data{
    width: 24px;
    height: 24px;
    margin-top: 10px;
    margin-right: 30px;
}
/* estilo checkbox */
.cont-label {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
   }
   #form .donar-proyecto .checkbox-lista label{
    vertical-align: super;
    font-size: 17px;
    margin-top: 20px;
}
   input.check-input {
    height: 1.7rem;
    width: 1.7rem;
    margin: 5px;
    display: inline-block;
    appearance: none;
    position: relative;
    background: rgb(2,0,36);
    background: #fff;
    /* background-color: #F2ECFF; */
    border-radius: 15%;
    cursor: pointer;
    overflow: hidden;
   }
   
   input.check-input::after {
    content: '';
    display: block;
    height: 0.9rem;
    width: .4rem;
    border-bottom: .31rem solid #a0ffe7;
    border-right: .31rem solid #a0ffe7;
    opacity: 0;
    transform: rotate(45deg) translate(-50%, -50%);
    position: absolute;
    top: 45%;
    left: 21%;
    transition: .25s ease;
   }
   
   input.check-input::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    background-color: #00C896;
    border-radius: 50%;
    opacity: .5;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: .3s ease;
   }
   
   input.check-input:checked::before {
    height: 130%;
    width: 130%;
    opacity: 100%;
   }
   
   input.check-input:checked::after {
    opacity: 100%;
   }
   
   .checkbox-lista .cont-label span {
    font-size: 2rem;
   }
  
  /* stilo sweet alert */
  .color-alert-footer{
    color:#00C896;
  }
  
  
/* #################################################################
############## QUERY RESPONSIVE FORM ###############################*/
@media screen and (max-width:900px) {
    .objetivo .que-donar .title-que .list-que{
        display: grid;
        grid-template-columns: repeat(2,50%);
        grid-template-rows: repeat(2,auto);
    }  
    .objetivo .que-donar .title-que .list-que .img-2{
        padding-top: 50px;
    } 
      /*form */
      #form {
        width: 80%;
        margin-left: 10%;
    }
}
@media screen and (max-width:650px){
    .title-corazon h1{
        font-size: 2.5em;
    }
}
@media screen and (max-width:550px) {
    #form .form-data::placeholder{
        font-size: 14px;
        padding-right: 5px;
    }
    #form .donar-proyecto .otro input::placeholder{
        font-size: 14px;
        padding-right: 5px;
    }
    #form .nombre-completo {
        display: block;
        justify-content: center;
    }
    #form .nombre-completo {
        padding: 0px 15px;
    }
    #form .nombre-completo .nombre {
        padding-right: 0px;
    }
    #form .form-data {
        padding-left: 5px;
        font-size: 15px;
    }
    #form .form-data:focus{
        border: none;
        color: #fff;
        font-size: 17px;
        background: #0f86b597;
        outline: 3px solid #0F85B5;
    }
    #form .datos-form {
        margin-top: 20px;
    }
    #form .nombre-completo .name-last{
        margin-top: 20px;
    }
    .objetivo .que-donar .title-que .list-que{
        display: grid;
        grid-template-columns: repeat(1,100%);
        grid-template-rows: repeat(1,auto);
    }  
    .objetivo .que-donar .title-que .list-que .img-lista-donar{
        padding-top: 30px;
        padding-right: 0;
    }  
     /*form  */
     #form {
        width: 95%;
        margin-left: 2%;
    }
    /* input de otro... */
#form .donar-proyecto .otro{
    width: 100%;
    margin-left: 0;
}
}