#nav-header{
    display: flex;
    position: fixed;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
    top: 0;
    background-color: #fff;
}
.menu{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding-left: 0;
    font-family: 'Roboto', Helvetica, sans-serif;
}
/* clase para dejar el boton activo para cada clik */
.active{
    border-bottom: 3px solid #00A7EB;
}
.menu-header .menu .menu-items{
    list-style: none;
    margin-right: 40px;
    font-size: 27px;
}
.menu-header .menu .menu-link{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-family: 'Roboto', Helvetica, sans-serif;
}
.menu-header .menu .menu-link:hover{
    border-bottom: 3px solid #00A7EB;
    transition: all .2s ease-in-out;
    transform: scale(1.2);
}
.menu-header .menu .active:focus, .menu-header .menu .active:active{
    border-bottom: 3px solid #00A7EB;
}

/* logo */
.logo-congregacion .img-logo{
    width: 100px;
    height: 100px;
}
#nav-header .logo-congregacion{
    text-align: center;
    padding-left: 40px;
}
#nav-header .title-hermanas{
    width: 100%;
    text-align: center;
}
#nav-header .title-hermanas h1{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Roboto', Helvetica, sans-serif;
}
/* boton burger */
.nav-burger {
    color: #00A7EB;
    background: none;
    border: none;
    font-size: 40px;
    padding: 0 20px;
    cursor: pointer;
    display: none;
  }
  @media screen and (max-width:900px){
    #nav-header{
        display: flex;
        justify-content: space-around;
    }
    .nav-burger{
        display:block;
    }
    .menu {
        flex-direction: column;
        align-items: center;
        background-color: #00A7EB;
        position: fixed;
        width: 100%;
        margin-top:30px;
        padding: 20px 0;
        padding: 50px 0px;
        overflow-y: auto;
        left: 100%;
        transition: .3s;
    }
    .menu-header .menu .menu-link{
        color: #fff;
        font-size: 50px;
    }
    /* clase de menu visible con funcion de JS */
    .menu_visible {
        left: 0;
        margin-top: 30px;
      }
    .nav-burger:focus:not(:focus-visible) {
        outline: none;
      }
      #nav-header .title-hermanas{
        display: none;
    }
  }
  @media screen and (max-width:400px){
    .logo-congregacion .img-logo{
        width: 80px;
        height: 80px;
    }
  }