*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.wrap{
	width: 100%;
}

.contenido2{
	margin-top: 236px;
}
.carousel-item img{
	width: 100%;
	height: 750px;
	object-fit: fill;
}

@media screen and (max-width: 768px) {
	.contenido2 {
		margin-top: 150px;
	}
	.carousel-item img{
		height:auto;
	}
}
@media screen and (min-width: 1300px) {
	.carousel-item img{
		height: 600px;
		object-fit: cover;
	}
}

.donacion{
	display: flex;
	width: 100%;
	padding: 126px 25px;
	font-family: "Roboto", Helvetica, sans-serif;
}
.donacion .block-plan-padrino{
	display: block;
	padding-right: 48px;
}
.donacion .block-plan-padrino .boton-donacion{
	display: flex;
	margin-top: 80px;
}
/* img donacion */
.donacion .img-donar img{
	width: 534px;
	height: 497px;
}
.donacion .title-plan-padrino .text-padrino{
	font-size: 36px;
	font-weight: 500;
}
.donacion hr{
	border: solid 3px #0F85B5;
	margin-bottom: 24px;
}
.donacion .title-plan-padrino p{
	font-size: 20px;
	font-weight: 400;
	text-align: justify;
}
.donacion .boton-donacion{
	margin-top: 20px;
}
.donacion .boton-donacion .form-contact .form-lista{
	padding-right: 70px;
	font-size: 20px;
	font-weight: 400;
	font-family: "Roboto", Helvetica, sans-serif;
}
.donacion .boton-donacion .form-contact{
	text-align: center;
}
.donacion .boton-donacion .form-contact .boton-form button{
	border: none;
	background-color: #0F85B5;
	color: #fff;
	font-size: 20px;
	padding: 15px;
	border-radius: 8px;
}
.donacion .block-plan-padrino .boton-donacion .davivienda{
	padding-left: 10px;
	text-align: center;
}
.donacion .boton-donacion .davivienda .p-textdonacion{
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 46px;
	word-wrap: break-word;
	font-family: "Roboto", Helvetica, sans-serif;
}
/* numero de cuenta */
.donacion .boton-donacion .davivienda .numero-cuenta{
	font-size: 20px;
	font-weight:400;
	margin: 0;
	font-family: "Roboto", Helvetica, sans-serif;
}
.donacion .boton-donacion .davivienda .img-btn-transferir{
	padding: 0px 60px;
	border: none;
	border-radius: 8px;
	background-color: #FF0000;
}
.donacion .boton-donacion .davivienda .img-btn-transferir img{
	margin: -15px 0px;
	width: 140px;
	height: 130px;
	transform: scale(1.5);
}
@media screen and (max-width: 1400px) {
	.donacion .block-plan-padrino .boton-donacion{
		display: block;
	}
	.donacion .block-plan-padrino .boton-donacion .davivienda{
		padding: 0;
		margin-top: 40px;
	}
	.donacion .boton-donacion .davivienda .img-btn-transferir img {
		margin: -15px 0px;
		width: 100px;
		height: 90px;
		transform: scale(1.3);
	}
	.donacion .boton-donacion .davivienda .p-textdonacion {
		margin-bottom: 10px;
	}
}
@media screen and (max-width:900px) {
	.donacion {
		width: 100%;
		padding: 40px 25px;
	}
	.donacion .block-plan-padrino .boton-donacion .davivienda{
		margin-top: 20px;
	}
	.donacion .block-plan-padrino {
		padding-right: 0;
	}
.donacion .img-donar img{
	display: none;
	}
.donacion .boton-donacion .form-contact .form-lista {
		list-style: none;
		padding: 0;
	}
}
@media screen and (max-width:768px) {
	.donacion .boton-donacion .davivienda .img-btn-transferir img {
		width: 100px;
		height: 90px;
		transform: scale(1.3);
	}
	.donacion .boton-donacion .davivienda .img-btn-transferir {
		padding: 0px 35px;
	}
}
@media screen and (max-width: 370px) {
.donacion .block-plan-padrino {
	display: block;
	margin-right: 0;
	}
.donacion .boton-donacion .davivienda p {
	padding: 0;
	}
}

/* noticias */
.frase {
	text-align: center;
	margin-top: 60px;
}

.text-presenciamisionera {
	border-bottom: 3px solid #0F85B5 ;
	font-size: 40px;
}

.fraseazul {
	color: #0F85B5;
}

.noticias .summary {
	list-style: none;
}

.noticias .summary .flecha {
	width: 15px;
	height: 15px;
}

.noticias {
	display: flex;
	margin: 50px;
	
}

.noticias .img-formacion {
	border-radius: 5px !important;
}

.noticias .img-noticias {
	width: 700px;
	height: 420px;
	border-radius: 5px;
	margin-right: 33px;
}

.presencia-misionera {
	padding-bottom: 100px;
}

.noticias .video-papa {
	padding-left: 30px;
}

.noticias .formacion {
	background-color: #0F85B5 !important;
}

.noticias  .titulo-formacion {
	border-bottom: 3px solid black ;
	font-size: 40px;
}

.noticias .frase-formacion {
	color: #0F85B5;

}

.noticias .text-formacion  {
	margin-left: 30px;
}

@media screen and (max-width: 920px) {
	.noticias{
		display: block;
		text-align: center;
	}
	.noticias .img-noticias {
		justify-content: center;
		max-width:100%;
		height: auto;
		margin-right: 0px;
		object-fit: cover;
	}
	
	.noticias .video-papa {
		justify-content: center;
		max-width:100%;
		height: auto;
		margin-right: 0px;
		object-fit: cover;
	}
	
	
}